<%- include('header'); -%>
    <div class="box" id="heading">
        <h1><%=ListTitle%></h1>
    </div>

    <div class="box">
        <!-- <li><%=newListItems%></li> -->
        <% for(var i=0; i< newListItems.length; i++){ %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= newListItems[i]._id %>">
                <!-- summit the form when checkbox clicked -->
                <p><%= newListItems[i].name %><p/>
            </div>
            <input type="hidden" name="ListName", value="<%= ListTitle %>">
        </form>
        <% } %>
        <form class= 'item' action="/" method="post">
        <input type="text" name="toDoNext" id="toDoNext" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= ListTitle %>">+</button>
        </form>
    </div>
    <%- include('footer'); -%>